In [1]:
#load imports
import pandas as pd
import datetime as dt
from config import db_password
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

## Crime Data

In [2]:
#Load CSV file into df
crime_df = pd.read_csv('C:/Users/auste/Documents/crime_data_2001_present.csv')
crime_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [4]:
#filter data to include only years 2019-2021
sample_crime_df = crime_df[crime_df['Year'] >= 2019]
three_year_crime_df = sample_crime_df[sample_crime_df['Year'] <= 2021]

#Split Date column into seperate Date and time columns

three_year_crime_df.rename(columns ={'Date': 'Datetime'}, inplace=True)
three_year_crime_df['Date'] = pd.to_datetime(three_year_crime_df['Datetime']).dt.date
three_year_crime_df['Time'] = pd.to_datetime(three_year_crime_df['Datetime']).dt.time

#drop unneeded columns
three_year_crime_df = three_year_crime_df.drop(columns=['Case Number', 'Datetime', 'Block', 'IUCR', 'Domestic', 'District', 'Ward', 'Beat', 'FBI Code', 'Updated On', 'X Coordinate', 'Y Coordinate', 'Location'])

#create violent crime column
violent_crimes = ['HOMICIDE', 'BATTERY', 'ASSAULT', 'CRIMINAL SEXUAL ASSAULT', 'ROBBERY']
violent = []

for row in three_year_crime_df['Primary Type']:
    if row in violent_crimes:
        violent.append('VIOLENT')
    else:
        violent.append('NON-VIOLENT')
        
three_year_crime_df.insert(4,'Violence Status',violent,True)

#drop decimal from Community Area column
sample_crime_df['Community Area'] = sample_crime_df['Community Area'].astype('Int64')
sample_crime_df

#Dropping all NaN values
three_year_crime_df.dropna(subset=['Location Description', 'Community Area', 'Latitude', 'Longitude'], inplace=True)

#Format column names
three_year_crime_df.rename({
    'Primary Type': 'Primary_Type',
    'Location Description': 'Location_Description',
    'Violence Status': 'Violence_Status',
    'Community Area': 'Community_Area'}, axis='columns', inplace=True)

#export to csv
output_data_file = "clean/three_year_crime_data.csv"
three_year_crime_df.to_csv(output_data_file, index=False)

#connect to postgresSQL and 3_year_crime_data DataFrame to SQL Database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/chicago_crime"
engine = create_engine(db_string)
three_year_crime_df.to_sql(name='crime_data', con=engine)

In [5]:
#display DataFrame
three_year_crime_df

,ID,Primary_Type,Description,Location_Description,Violence_Status,Arrest,Community_Area,Year,Latitude,Longitude,Date,Time
90,12014684,THEFT,$500 AND UNDER,STREET,NON-VIOLENT,False,15.0,2020,41.952052,-87.754660,2020-03-17,21:30:00
183,11864018,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,NON-VIOLENT,False,33.0,2019,41.852248,-87.623786,2019-09-24,08:00:00
235,11859805,THEFT,RETAIL THEFT,GROCERY FOOD STORE,NON-VIOLENT,False,24.0,2019,41.895732,-87.687784,2019-10-13,20:30:00
420,12012127,MOTOR VEHICLE THEFT,AUTOMOBILE,APARTMENT,NON-VIOLENT,False,26.0,2020,41.877110,-87.723990,2020-03-18,02:03:00
446,11863808,THEFT,OVER $500,RESIDENCE,NON-VIOLENT,False,28.0,2019,41.882002,-87.662287,2019-10-05,18:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...
7469187,12284471,THEFT,RETAIL THEFT,DEPARTMENT STORE,NON-VIOLENT,True,6.0,2020,41.941749,-87.668718,2020-11-17,21:30:00
7469188,12284473,THEFT,RETAIL THEFT,DEPARTMENT STORE,NON-VIOLENT,True,6.0,2021,41.941749,-87.668718,2021-01-18,18:30:00
7469189,12284478,THEFT,RETAIL THEFT,DEPARTMENT STORE,NON-VIOLENT,True,6.0,2020,41.941749,-87.668718,2020-11-25,17:10:00
7469191,12574494,ASSAULT,SIMPLE,PARKING LOT / GARAGE (NON RESIDENTIAL),VIOLENT,True,73.0,2021,41.716960,-87.643088,2021-12-20,15:00:00
7469192,12575002,THEFT,RETAIL THEFT,SMALL RETAIL STORE,NON-VIOLENT,True,6.0,2021,41.941749,-87.668718,2021-12-20,08:30:00

## Weather Data

In [6]:
#load raw csv file
weather_df = pd.read_csv('./raw/weather_data_2010_present.csv')
weather_df.columns

Index(['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND', 'FMTM',
       'PGTM', 'TAVG', 'TMAX', 'TMIN', 'WDF2', 'WDF5', 'WSF2', 'WSF5', 'WT01',
       'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11',
       'WT13', 'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT21', 'WT22'],
      dtype='object')

In [7]:
#rename columns
weather_df.rename({'DATE': 'Date',
                   'AWND': 'Average_Wind_Speed',
                   'TAVG': 'Average_Temperature',
                   'WT01': 'Fog_Ice_Freezing_Fog',
                   'WT03': 'Thunder',
                   'WT08': 'Smoke_or_Haze',
                  }, axis='columns', inplace=True)

#convert to datetime and filter for 2019-2021
weather_df['Date'] = pd.to_datetime(weather_df['Date']).dt.date
weather_df = weather_df[weather_df['Date'] >= dt.date(2019, 1, 1)]
weather_df = weather_df[weather_df['Date'] <= dt.date(2021, 12, 31)]

#Drop unneeded columns
weather_df = weather_df.drop(columns=[
    'STATION',
    'LATITUDE',
    'LONGITUDE',
    'ELEVATION',
    'FMTM',
    'PGTM',
    'TMAX',
    'TMIN',
    'WDF2',
    'WDF5',
    'WSF2',
    'WSF5',
    'WT04',
    'WT06',
    'WT07',
    'WT09',
    'WT11',
    'WT14',
    'WT15',
    'WT19',
    'WT21',
    'WT22',
    'WT02',
    'WT05',
    'WT13',
    'WT16',
    'WT17',
    'WT18'
])

#export to csv
output_data_file = "clean/three_year_weather_data.csv"
weather_df.to_csv(output_data_file, index=False)

#connect to postgresSQL and weather DataFrame to SQL Database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/chicago_crime"
engine = create_engine(db_string)
weather_df.to_sql(name='weather_data', con=engine)

weather_df

,Date,Average_Wind_Speed,Average_Temperature,Fog_Ice_Freezing_Fog,Thunder,Smoke_or_Haze
3287,2019-01-01,7.61,31.0,1.0,NaN,NaN
3288,2019-01-02,8.72,28.0,1.0,NaN,NaN
3289,2019-01-03,11.63,29.0,NaN,NaN,NaN
3290,2019-01-04,8.05,37.0,NaN,NaN,NaN
3291,2019-01-05,8.28,39.0,NaN,NaN,NaN
...,...,...,...,...,...,...
4378,2021-12-27,10.51,40.0,1.0,1.0,NaN
4379,2021-12-28,6.26,34.0,1.0,NaN,NaN
4380,2021-12-29,8.05,35.0,1.0,NaN,1.0
4381,2021-12-30,5.14,32.0,1.0,NaN,1.0
4382,2021-12-31,NaN,37.0,NaN,NaN,NaN

## Community Data

In [9]:
#load raw csv file
community_df = pd.read_csv('./raw/community_data.csv')

#filter to only GEOID and GEOG columns
community_df = community_df.filter(['GEOID', 'GEOG'], axis=1)

#drop rows with NaN values
community_df.dropna(inplace=True)

#rename columns
community_df.rename({'GEOID': 'Community_Area',
                   'GEOG': 'Community_Name'}, axis='columns', inplace=True)

#sort and index DataFrame
sorted_community_df = community_df.sort_values('Community_Area')
sorted_community_df.set_index('Community_Area')

#export to csv
output_data_file = "clean/clean_community_data.csv"
sorted_community_df.to_csv(output_data_file, index=False)

#connect to postgresSQL and weather DataFrame to SQL Database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/chicago_crime"
engine = create_engine(db_string)
sorted_community_df.to_sql(name='community_data', con=engine)

sorted_community_df

    Community_Area      Community_Name
59             1.0         Rogers Park
74             2.0          West Ridge
66             3.0              Uptown
39             4.0      Lincoln Square
50             5.0        North Center
..             ...                 ...
67            73.0  Washington Heights
45            74.0     Mount Greenwood
44            75.0         Morgan Park
55            76.0              O'Hare
21            77.0           Edgewater

[77 rows x 2 columns]